/* Shared styles */
* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

/* Header related styles */
header {
    color: #3C354F;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* padding: 30px 100px 30px 100px; */
    padding: 50px 0px 50px 200px;

}

.text-color-red {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    margin-right: 30px;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}