/* Shared styles */
* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0;
    padding: 20px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.section-description {
    color: #534C64;
    font-size: 1.02rem;
    font-weight: 400;
    text-align: left;
}

.logo {
    display: flex;
    justify-items: center;
    align-items: center;
}

/* Header related styles */
header {
    color: #3C354F;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 50px 100px;

}

.text-color-red {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    margin-right: 30px;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* styles for banner */
.banner {
    margin: 50px 0px;
}

.banner-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.banner-title {
    text-align: left;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-goat {
    text-align: left;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-container-col-1 {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    padding: 80px;
}

.banner-description {
    text-align: left;
    color: #534C64;
    font-size: 1.2;
    font-weight: 500;

}

.btn-banner {
    margin-top: 30px;
}

.go-rougue {
    background: #4EC5F7;
}

.banner-container-col-2 img {
    height: 100%;
    width: 100%;
}




/* styles for online games */
.online-games-container {
    background: #FFF;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.online-games-description {
    text-align: center;
    margin: 15px 15px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 50px 100px;
}

.card-container img {
    width: 100%;
}


/* styles for play games */
/* styles for play games */
/* styles for play games */

.play-games-container {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.play-games-container .section-title {
    text-align: left;
}

.play-games-container .section-description {
    text-align: left;
}

.play-games-col-1 .pic-1 {
    width: 100%;
}

.pic-2 {
    border-radius: 5px;
    border: 5px solid #FFF;
    background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
    position: relative;
    width: 25%;
    bottom: 100px;
    left: 32rem;
}

.play-games-col-2 {
    margin-top: 250px;
    margin-left: 100px;
}

/* icon-button styles icon-button styles icon-button styles icon-button styles icon-button */

.icon-button {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.1) 50%, rgba(255, 66, 165, 0.1) 50%);
}

.icon-button-container {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.icon-and-text {
    margin: 20px 10px;
}

.icon-button .section-description {
    font-size: .75rem;
}


.icon-and-text {
    border-radius: 50px;
    background: #FFF;
}

.icon-and-text:hover{

    border-radius: 50px;
    border: 1px solid #FF42A5;
    color: #F948B2;
}
.icon-and-text:hover .section-description{
    color: #F948B2;
}

.icon-text-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 200px;
    max-height: 60px;
}

/* style for footer  style for footer  style for footer style for footer */

footer {
    background: #0B0223;
    padding: 120px 200px;
    text-align: center;
}

footer .logo {
    display: flex;
    justify-content: center;
}

.amer,
footer .section-description {
    color: #FFF;
}

.optoin-class {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 3rem;
}

.btn {
    margin: 40px 250px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 70px;
}

.upper-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 50px;
}





/* ResponsiveResponsiveResponsiveResponsiveResponsiveResponsiveResponsiveResponsive */
/* style for responsive starts */
/* style for mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 90px 50px 30px 50px;
    }

    nav {
        flex-direction: column;
    }

    nav div {
        margin-bottom: 30px;
    }

    nav ul {
        flex-direction: column;

    }

    nav li {
        margin-bottom: 30px;
    }

    .banner-container {
        grid-template-columns: 100%;
    }

    .banner-title {
        font-size: 1.3rem;
    }

    .banner-goat {
        font-size: 2rem;
    }

    .banner-container-col-1 {
        padding: 40px;
    }

    .btn-primary {
        padding: 10px;
    }

    .banner-container-col-2 {
        padding: 50px 0px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding: 50px 50px;
    }

    .online-games-description {
        padding: 20px 50px 20px 60px;
    }

    .play-games-container {
        padding: 50px 60px;
        grid-template-columns: repeat(1, 1fr)
    }

    .play-games-col-1 .pic-1 {
        width: 90%;
    }

    .pic-2 {
        border-radius: 5px;
        border: 5px solid #FFF;
        background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
        position: relative;
        width: 25%;
        bottom: 50px;
        left: 15rem;
    }

    .play-games-col-2 {
        margin-top: 10px;
        margin-left: 10px;
    }

    .icon-button-container {
        margin: 30px 10px;
        gap:3px;
        grid-template-columns: repeat(3, 1fr);
    }

    .icon-text-flex {
        max-width: 100px;
        max-height: 50px;
    }

    footer {
        background: #0B0223;
        padding: 40px;
    }

    .optoin-class {
        grid-template-columns: repeat(3, 1fr);

    }

    option {
        margin: 10px 10px;
    }

    .btn {
        margin: 30px 60px;
        padding: 5px;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .footer-description {
        font-size: .5rem;
        margin: 0px 40px;
    }

    .upper-part {
        grid-template-columns: repeat(2, 1fr);
        margin: 15px 25px;
    }

    .footer-last {
        /* margin:10px 0; */
        padding: 10px;
    }

}

/* Responsive styles for tablet */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px 0px 50px 0px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 30px;
    }

    .banner-container {
        grid-template-columns: 100%;
        min-height: 500px;
        margin: 20px 80px;
    }

    .online-games-container {
        padding: 50px 40px 50px 20px;
        margin: 0px 35px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px;
    }

    .play-games-container {
        padding: 50px 60px;
        grid-template-columns: repeat(1, 1fr)
    }

    .play-games-col-1 .pic-1 {
        width: 85%;
    }

    .pic-2 {
        border-radius: 5px;
        border: 5px solid #FFF;
        background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
        position: relative;
        width: 25%;
        bottom: 80px;
        left: 28rem;
    }

    .play-games-col-2 {
        margin-top: 10px;
        margin-left: 10px;
    }

    .icon-button-container {
        margin: 30px 50px;
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        background: #0B0223;
        padding: 40px;
    }

    .optoin-class {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 80px;

    }

    option {
        margin: 10px 10px;
    }

    .btn {
        margin: 30px 200px;
        padding: 5px;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .footer-description {
        font-size: .5rem;
        margin: 0px 40px;
    }

    .upper-part {
        grid-template-columns: repeat(2, 1fr);
        margin: 15px 25px;
    }

    .footer-last {
        /* margin:10px 0; */
        padding: 10px;
    }

}