/* Shared styles */
* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {}

.section-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

/* Header related styles */
header {
    color: #3C354F;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 50px 0px 50px 120px;

}

.text-color-red {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    margin-right: 30px;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* styles for banner */
.banner{
    /* padding-right: 50px; */
    margin: 30px 0px;

}
.banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    min-height: 700px;
}
.banner-container-col-1{
    background-image: url('../images/Group\ 14.png');
}
.banner-container-col-2{
    background-image: url('../images/Group\ 18.png');
}
/* style for responsive starts */
/* style for mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 90px 50px 30px 50px;
    }

    nav {
        flex-direction: column;
    }

    nav div {
        margin-bottom: 30px;
    }

    nav ul {
        flex-direction: column;

    }

    nav li {
        margin-bottom: 30px;
    }
}

/* Responsive styles for tablet */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px 0px 50px 0px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 30px;
    }
}